/* Общие стили */
.App {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh; /* Убедимся, что приложение занимает всю высоту окна */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0; /* Начальное значение opacity 0 */
  animation: fadeIn 1s forwards; /* Применяем анимацию fadeIn */
}

/* Анимация появления */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Стили для заголовка */
.App-header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.App-header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.App-header nav ul li {
  margin: 0 15px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.App-header nav ul li a:hover {
  color: #ffa500; /* Эффект при наведении: оранжевый цвет */
}

/* Стили для контента */
.content {
  padding: 20px;
  flex: 1; /* Это позволяет контенту расти и заполнять оставшееся пространство */
}

.content h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

/* Стили для футера */
.App-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.App-footer p {
  margin: 0;
  font-size: 14px;
}
